@import 'globals';



@media only screen and (max-width: 20em) {
  header img#logo {
    width: 80px;
  }
  
  .for-bg header.header h1 {
    font-size: 1em;
  }
  
  .for-bg header.header h2 {
    font-size: 0.9em;
  }
  
  footer #footer-imgs img {
    margin: 0.8em;
  }
  
  main div.about-me-text {
    display: grid;
    grid-template: 900px 1570px 1fr / 1fr;
    grid-gap: 20px;
  }
  
  div.about-me-text p {
    min-width: 200px;
  }
  
  main section {
    min-width: 250px;
  }
  
  body main div.about-me-text {
    display: grid;
    grid-template: 250px 920px 1580px 1fr / 1fr;
    grid-gap: 5px;
  }
  
  main div.about-me-text img#loupic {
    width: 250px;
  }	
}

@media only screen and (min-width: 20em) and (max-width: 36em) {
/*	mobile styles go here */
  div.for-bg {
    display: inline-grid;
    grid-template-columns: 1fr;
    padding: 15px;
    width: 100%;
  }
  
  header.header {
    grid-column-start: 1;
  }
  
  .for-bg .header h1 {
    font-size: 1.5em;
  }
  
  .for-bg .header h2 {
    padding: 0;
    margin-left: 0;
    font-size: 1.4em;
  }
  
  img#logo {
    width: 90px;
  }
  
  .for-bg .nav-bar li {
    display: block;
  }
  
  .for-bg .nav-bar {
    padding: 0;
    grid-column-start: 2;
  }
  
  main .skillset {
    display: grid;
    grid-template-rows: 730px 700px 1fr;
    grid-gap: 20px;
    justify-items: center;
  }
  
  ul.skill-shields {
    justify-content: center;
  }
  
  .skill-jquery {
    grid-row-start: 1;
  }
  
  .skill-html {
    grid-row-start: 3;
  }
  
  .skill-js {
    grid-row-start: 2;
  }
  
  main div.about-me-text {
    display: grid;
    grid-template: 270px 800px 1320px 1fr / 1fr;
    grid-gap: 5px;
	}
  
  main div.about-me-text img {
    width: 270px;
  }
  
  section.who-i-am {
    grid-row-start: 2;
  }
  
  section.workexp {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  
  section.education {
    grid-row-start: 4;
    grid-column-start: 1;
  }
}

@media only screen and (min-width: 36em) and (max-width: 52em) {
/*	tablet styles go here*/
  .for-bg .header h1 {
    font-family: serif;
    font-size: 1.6em;
  }
  
  .for-bg .header h2 {
    padding: 0;
    margin-left: 0;
    font-size: 1.45em;
  }
  
  img#logo {
    width: 100px;
  }
  
  .for-bg .nav-bar li {
    display: block;
  }
  
  .for-bg .nav-bar {
    padding: 0;
  }
  
  header.header {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  
  main div.about-me-text {
    display: inline-grid;
    grid-template: 280px 815px 1fr/ 1fr 1fr;
    grid-gap: 20px;
  }
  
  main .about-me-text img {
    width: 280px;
  }
  
  section.education {
    grid-row-start: 3;
  }
  
  section.workexp {
    grid-row-start: 1;
    grid-row-end: span 3;
  }
  
  main .skillset {
    display: grid;
    grid-template: 460px 1fr / 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
  }
  
  .skill-html {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
  }
  
  .skill-jquery {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  
  .skill-js {
    grid-row-start: 2;
    grid-column-start: 2;
  }
}


@media only screen and (min-width: 52em) and (max-width: 75em) {
/*	desktop styles go here */
  header.header {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  
  main .about-me-text {
    display: inline-grid;
    grid-template: 300px 1fr / 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  
  main .about-me-text img {
    grid-row-start: 1;
    width: 300px;
  }
  
  .who-i-am {
    grid-row-start: 2;
  }
  
  .workexp {
    grid-row-start: 1;
    grid-row-end: span 2;
  }
  
  .education {
    grid-row-start: 1;
    grid-row-end: span 2;
  }	
}


/* Header/Nav and Footer
===============================*/
.nav-bar {
  grid-column-start: 3;
  min-width: 6%;
  padding-right: 50px;	
}

.nav-bar li {
	display: inline-grid;
}

.nav-bar a {
  margin-top: 50px;
  padding: 10px;
  text-decoration: none;
  font-family: "Pridi", serif;
  text-align: center;
  color: #000009;	
}

nav a:hover,
li a:hover {
  color: #000009;
  font-weight: 800;
  text-decoration: underline;
}

.for-bg,
footer {
  background-color: white;
}

.for-bg {
  display: inline-grid;
  grid-template-columns: 35% 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 15px;
  width: 100%;
}

.header {
  grid-column-start: 2;
  font-size: 16px;
}

.header h1 {
  font-family: "Gabriela", serif;
  font-size: 2em;
  margin-top: 15px;
}

.header h2 {
  padding: 0;
  margin-left: 0;
  font-family: "Baumans", cursive;
  font-size: 1.88em;
  padding-left: 190px;
}

a img#logo {
  float: left;
}

footer h2 {
  color: #000009;
  font-family:"Pridi", serif;
  font-size: 28px;
  font-weight: bold;
  padding: 0.5em;
  width: 100%;
  text-align: center;
}

#footer-imgs {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#footer-imgs img {
  margin: 1em;
}

footer a:hover {
  border: 2px solid #000009;
  border-radius: 20px;
}

footer p {
  margin-top: 10px;
  padding: 1.1em;
}


/* Primary Content
===============================*/
main {
  display: block;
  font-family: "Baumans", cursive;
  padding: 2em;
/* Image courtesy of NASA note: this img version is edited by me for style*/
  background: url("../img/nasaNeutronStars_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
  padding: 2em;
  min-height: 600px;
}

.intro-text {
  margin: auto;
  color: azure;
  font-size: 30px;
  margin-bottom: 40px;
  line-height: 45px;
}

.skill-shields {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

i {
  font-size:4em; 
  float: left;
  margin: 20px 10px 40px 10px;
}

.html5 {
  color: #ff4d0c;
}

.css {
  color: #0059a8;
}

.js {
  color: #efd528;
}


/* Skillset Menus
===============================*/
.skillset {
  display: flex;
  justify-content: space-around;
/*  flex-wrap: wrap;*/
  text-align: center;
}

.skillset li {
  font-weight: bold;
}

.skillset .skill-html {
  justify-content: flex-start;
}

.skill-html li {
  margin-bottom: 40px;
}

.skill-html li img {
  max-width: 95%;
  margin-top: 10px;
}

.skill-js {
  justify-content: center;
}

.skill-js li {
  margin-bottom: 30px;
}

.skill-js li img {
  max-width: 95%;
  margin-bottom: -10px;
}

.skill-jquery {
  justify-content: flex-end;
}

.skill-jquery li {
  margin-bottom: 30px;
}

.skill-jquery li img {
  max-width: 95%;
  margin-bottom: -10px;
}

.skill-html,
.skill-js,
.skill-jquery {
  background-color: white;
  width: 25%;
  padding: 2em 4em 3em 3em;
  color: black;
  border-radius: 15px;
  min-width: 240px;
  min-height: 200px;
  box-shadow: -6px 4px 10px #000009;
  margin-bottom: auto;
  align-self: flex-end;
  order: 1;
}

main a {
  text-decoration: none;
}

main img {
  border-radius: 17%;
  box-shadow: -8px 6px 15px #000009;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 1em 0;
  line-height: 2em;
}

#leadin {
  color: white;
}


/*About Me Styles
===========================*/
.about-me-text {
  width: 100%;
  display: inline-grid;
  grid-template: 400px 1fr / 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}

.about-me-text img {
  grid-row-start: 1;
  width: 400px;
  margin: auto;
}

.who-i-am {
  grid-row-start: 2;
}

.workexp {
  grid-row-start: 1;
  grid-row-end: span 2;
}

.education {
  grid-row-start: 1;
  grid-row-end: span 2;
}

.about-me-text section {
  background-color: white;
  border-radius: 15px;
  margin: 20px auto auto auto;
  text-align: center;
  padding: 20px;
  box-shadow: -6px 4px 8px #000009;
  width: 70%;
  min-width: 280px;
}

.about-me-text section h2 {
  font-family: "Pridi", serif;
  font-size: 30px;
  padding-bottom: 20px;
  margin: auto;
}

h3 {
  padding-top: 20px;
  padding-bottom: 15px;
  margin: auto;
}

.about-me-text p {
  font-family: "Asul", sans-serif;
  font-size: 16px;
  line-height: 28px;
  width: 90%;
  text-align: left;
  margin: auto;
  min-width: 230px;
}

figure {
  width: auto;	
}

figcaption {
  background-color: white;
  text-align: center;
  font-size: 16px;
  width: 170px;
  justify-content: center;
  align-content: center;
  margin: 8px auto 0;
  padding: 0.1em;
}

figcaption a {
  color: black;
  font-weight: bold;
}

figcaption a:hover {
  text-decoration: underline;
}


/*Portfolio Page
=========================*/
p.body-text {
  text-align: center;
  margin-bottom: 10px;
}

img#port {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 0px;
}

div#port-contain {
  background-color: white;
  border-radius: 15px;
  margin: auto;
  box-shadow: -6px 4px 8px #000009;
  padding: 20px;
  width: 50%;
  min-width: 260px;
  padding: 2em;
  overflow: hidden;
}
